/* responsive version */

/* css for  all */

.apmag-container{ 
	width: 100% !important;
	 max-width: 1164px 
	}
.top-menu-wrapper .apmag-container{
 width: 100% !important;
}
.apmag-container{
 width: 100% !important;
}
#top-navigation {
    float: left;
    margin: 3px 3px !important;
}
#site-navigation .menu ul li ul li{ background: #000 !important;}
/* Desktop */

@media (max-width: 1132px) {
.apmag-inner-container{
 width: 100% !important;
}
#site-navigation ul li a{ 
	font-size: 11px !important;
}
    
    html, .body{
    overflow-x: hidden;}
}

/* Portrait tablet to landscape and desktop */


@media (max-width: 979px){

	.site-footer .ak-info{ display: inline-block; width: 100%;}
	.bottom-footer{ text-align: center;}

 ul.menu > li.menu-item-has-children::before {
  content:"" !important;
}
  ul.sub-menu li a { 
  	padding:5px 18px !important;
  	 }
.site-branding{
 width:15% !important; 
 text-align: center;
}

 #site-navigation ul li{
  padding: 0px 10px !important;
}
 #site-navigation ul li a{ 
 	font-size: 11px !important;
 }

.main-navigation{ 
  width: 80%;
   }
ul.menu > li.menu-item-has-children::before { 
	font-size:6.5px !important;
}

.site-branding {
    float: left;
    padding: 25px 0 0;
}

table#wp-calendar tr td{ padding: 5px 5px !important}
table#wp-calendar tr th{ padding: 5px 5px !important}
.ticker-content a{
 width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;}

  .ak-search .close {
    color: #ffffff;
    cursor: pointer;
    font-size: 50px !important;
    line-height: 50px !important;
    position: absolute;
    right: 30px;
    top: 0px;
    z-index: 99999;
}


}
/* Landscape phone to portrait tablet */

@media (max-width: 767px) {

	

	#site-navigation .nav-wrapper{ background: #000;}


#site-navigation ul.sub-menu li::after {
    top: 2px !important;
}

#site-navigation ul.menu > li > a {
    line-height: 38px !important;
    font-size: 13px !important;
}

#site-navigation ul li a {
    font-size: 14px !important;
    line-height: 20px !important;
}
#site-navigation ul li a:focus, #site-navigation ul li a:visited {
 background: #000 !important;
}

.site-branding { 
	width:100% !important;
	 text-align: center;}

.main-navigation{
 width: 100% !important;
}
.random-post {
    display: inline-block;
    float: right !important;
    font-size: 18px;
    line-height: 21px;
    padding: 0 10px !important;
}
.search-icon {
    float: right!important;
    position: relative !important;
  
}

.sitelogo-wrap{ 
	display: inline-block;
	 margin-top: 10px;
	}

.ak-search .search-form .search-submit{
 width: 25% !important;
  padding: 10px 7px !important;
}
.ak-search .search-form .search-field{
 width: 75% !important;
}

ul#menu-top-menu-right.menu {
    margin-top: 8px;
}

.grid-big-post{ width: 100% !important;}
.grid-posts-bunch{ width: 100% !important; margin-top: 3px;}
.newsletter-widget .newsletter-email{ width: 100% !important;}


}

/* Landscape phones and down */



@media (max-width: 579px) {

.toppost-wrapper .single_post.top-post, .bottompost-wrapper .single_post{
 width: 100%!important;
}
.second-block-wrapper .rightposts-wrapper, .second-block-wrapper .leftposts-wrapper{
 width: 100%! important;
}

}

