@media (max-width: 1200px) {
    body.boxed-layout {
        width: 100%;
    }
}
/* Large desktop */

@media (max-width: 1132px) {
    .apmag-container {
        margin: 0 auto;
        width: 99%;
        padding: 0 1%;
    }
    .site-branding {
        width: 30%;
    }
    .accesspress-mag-header-ad {
        width: 65%;
    }
    .big_slide {
        width: 100%;
    }
    .big_slide:after,
    .small_slide:after {
        width: 100%;
    }
    .small-slider-wrapper {
        float: right;
        width: 41.5%;
    }
    .mag-slider-caption {
        width: 90%;
    }
    .slide-image > img {
        width: 100%;
    }
    .small-slider-wrapper a:last-child {
        display: none;
    }
    .ak-search .search-form {
        width: 96%;
        margin-left: -48%;
    }
    .post-review-wrapper .summary-details {
        width: 68%;
    }
    .total-reivew-wrapper {
        width: 30%;
    }
    .block-poston .comment_count i,
    .block-poston .apmag-post-views i {
        margin: 0 8px 0 20px;
    }
    .ak-search .search-form .search-submit {
        -webkit-appearance: none;
        font-size: 16px;
    }
    .newsletter-widget .newsletter-email{
        width: 130px;
    }

    .header-ad{
        width: 69%;
    }

    .sidebar-top-ad,
    .homepage-middle-ad, .article-ad-section{
        width: 100%;
    }
}
/* Portrait tablet to landscape and desktop */

@media (max-width: 979px) {
    .entry-meta .apmag-post-views,
    .entry-meta .comment_count {
        display: inline-block;
        float: none;
        margin: 0 0 5px 10px;
    }
    .block-poston a,
    .block-poston span {
        font-size: 12px;
    }
    .block-poston .comment_count i,
    .block-poston .apmag-post-views i {
        margin: 0 8px 0 12px;
    }
    .block-post-wrapper .post-title,
    .sidebar-posts-wrapper .first-post .post-title,
    .review-posts-wrapper .single-review.top-post .post-title {
        font-size: 18px;
        line-height: 22px;
        margin: 5px 0;
    }
    .bottompost-wrapper .post-title,
    .second-block-wrapper .rightposts-wrapper .post-title,
    .random-posts-wrapper .post-title,
    .sidebar-posts-wrapper .post-title,
    .review-posts-wrapper .post-title {
        font-size: 14px;
        line-height: 18px;
    }
    .slide-excerpt {
        display: none;
    }
    .mag-small-slider-caption .slide-title {
        font-size: 15px;
        line-height: 15px;
    }
    .bottom-footer .site-info {
        display: block;
        float: none;
    }
    .subfooter-menu {
        float: none;
    }
    .bottom-footer .ak-info {
        display: block;
        margin: 5px 0;
    }
    .oops {
        font-size: 120px;
        width: 40%;
    }
    .error404 .error-num {
        width: 50%;
    }
    .error404 .not_found {
        padding-left: 20px;
    }
    .newsletter-widget .newsletter-email {
        width: 110px;
    }
}
/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .site-branding {
        float: none;
        margin-bottom: 15px;
        padding-top: 5px;
        text-align: center;
        width: 100%;
    }
    #top-navigation .menu li {
        display: inline-block;
        float: none;
    }
    #top-navigation {
        text-align: center;
    }
    .accesspress-mag-header-ad {
        width: 100%;
        float: none;
    }
    
    .nav-wrapper .menu {
        background-color: #222;
        display: none;
    }
    .nav-wrapper .nav-toggle {
        display: block;
    }
    .small-slider-wrapper {
        display: none;
    }
    #site-navigation .nav-wrapper {
        float: none;
        padding: 0;
        text-align: right;
    }
    #site-navigation .nav-wrapper.active {
        padding-bottom: 10px;
    }
    .nav-wrapper .nav-toggle {
        display: inline-block;
        margin-top: 6px;
        cursor: pointer;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        transition: background 0.5s ease;
    }
    #site-navigation ul li {
        border-bottom: 1px solid #3d3d3d;
        float: none;
        padding: 5px 0;
        text-align: left;
    }
    #site-navigation ul li:hover,
    #site-navigation ul.menu > li.current-menu-item,
    #site-navigation ul.menu > li.current-menu-ancestor {
        border-bottom: 1px solid #DC3522;
    }
    .sub-toggle {
        background: none repeat scroll 0 0 #dc3522;
        color: #ffffff;
        display: block;
        height: 20px;
        line-height: 20px;
        position: absolute;
        right: 5px;
        text-align: center;
        top: 7px;
        width: 20px;
        cursor: pointer;
    }
    #site-navigation ul.sub-menu li:last-child {
        border: medium none;
    }
    #site-navigation ul.sub-menu {
        display: none;
        position: static;
        opacity: 1;
        visibility: visible;
        box-shadow: none;
        padding: 0;
        width: 100%;
    }
    #site-navigation ul.sub-menu > li {
        padding-left: 25px;
    }
    #site-navigation ul.sub-menu li:after {
        position: absolute;
        left: 12px;
        top: 6px;
        content: "\f105";
        font-family: "FontAwesome";
    }
    #site-navigation ul.sub-menu li:hover:after,
    #site-navigation ul.sub-menu li.current-menu-item:after,
    #site-navigation ul.sub-menu li.current-menu-ancestor:hover:after {
        color: #dc3522;
    }
    #site-navigation ul li a {
        display: block;
    }
    #site-navigation ul.menu > li:hover > a:after,
    #site-navigation ul.menu > li.current-menu-item > a:after,
    #site-navigation ul.menu > li.current-menu-ancestor > a:after {
        display: none;
    }
    .big_slide {
        width: 100%;
    }
    #secondary-right-sidebar,
    #secondary-left-sidebar,
    #primary {
        width: 100%;
        float: none;
    }
    .top-footer .footer-block-wrapper {
        margin-left: 0;
    }
    .footer-block-wrapper .footer-block {
        width: 100% !important;
        float: none !important;
        margin: 0 0 20px !important;
    }
    .random-posts-wrapper .post-img,
    .sidebar-posts-wrapper .post-image,
    .review-posts-wrapper .single-review .post-image,
    .latest-single-post .post-img{
        width: 16% !important;
    }
    .random-posts-wrapper .post-desc-wrapper,
    .sidebar-posts-wrapper .post-desc-wrapper,
    .review-posts-wrapper .single-review .post-desc-wrapper,
     .latest-single-post .post-desc-wrapper{
        width: 80%;
    }
    .block-post-wrapper .bottompost-wrapper .post-title {
        font-size: 14px;
        line-height: 18px;
    }
    .oops {
        font-size: 120px;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .error404 .error-num {
        text-align: center;
        width: 100%;
    }
    .error404 .error-num .num {
        margin: 20px auto;
    }

    .header-ad,.homepage-middle-ad, .article-ad-section{
        width: 100%;
    }

    .sidebar-top-ad .ad_content{
        width: 300px;
    }
    #site-navigation {
        position: relative !important;
    }
}
/* Landscape phones and down */

@media (max-width: 579px) {
    .big-cat-box {
        width: 115px;
        padding: 10px;
    }
    .single_post.top-post {
        display: block;
        float: none;
        margin-left: 0;
        width: 100%;
    }
    .block-post-wrapper {
        margin-left: 0;
    }
    .bottompost-wrapper .single_post {
        display: block;
        float: none;
        margin-left: 0;
        width: 100%;
    }
    .bottompost-wrapper .post-image,
    .second-block-wrapper .rightposts-wrapper .post-image,
    .random-posts-wrapper .post-img,
    .sidebar-posts-wrapper .post-image,
    .review-posts-wrapper .single-review .post-image {
        width: 22%;
    }
    .bottompost-wrapper .post-desc-wrapper,
    .second-block-wrapper .rightposts-wrapper .post-desc-wrapper,
    .random-posts .post-desc-wrapper,
    .sidebar-posts-wrapper .post-desc-wrapper,
    .review-posts-wrapper .single-review .post-desc-wrapper {
        width: 74%;
    }
    .leftposts-wrapper,
    .second-block-wrapper .rightposts-wrapper {
        float: none;
        width: 100%;
    }
    .forth-block .single_post,
    .forth-block .block-post-wrapper {
        margin-left: 0;
        width: 100%;
    }
    .sidebar-posts-wrapper .first-post .post-image,
    .review-posts-wrapper .single-review.top-post .post-image {
        margin-bottom: 20px;
        width: 100% !important;
    }
    .mag-slider-caption .slide-title {
        font-size: 18px;
    }
    .big-cat-box .cat-name {
        font-size: 14px;
    }
    #top-navigation .menu li a {
        padding: 0 5px;
    }
    .top-footer {
        padding: 30px 0 10px;
    }
    .single-post .entry-title,
    .archive .entry-title,
    .search-results .entry-title {
        font-size: 22px;
    }
    .entry-meta .apmag-post-views,
    .entry-meta .comment_count {
        display: inline-block;
        float: none;
        margin-left: 15px;
        margin-top: 5px;
    }
    .nav-links .nav-previous,
    .nav-links .nav-next {
        display: block;
        float: left;
        margin-bottom: 15px;
        text-align: left !important;
        width: 100%;
    }
    .entry-meta .post-categories li {
        margin-bottom: 5px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 14px;
    }
    .single-post-style1-template .post_image,
    .archive-page-style1-template .post-image img {
        width: 100%;
    }
    .post-review-wrapper .summary-details {
        width: 100%;
        float: none;
        text-align: center;
    }
    .total-reivew-wrapper {
        border: medium none;
        float: none;
        margin: 20px auto;
        text-align: center;
        width: 130px;
    }
    #comments .cmm-box-left, #comments .cmm-box-right {
          float: none;
          width: 100%;
    }
     #comments .cmm-box-right{
        margin-bottom: 20px;
     }
     #top-navigation {
        float: none;
    }
    #top-right-navigation {
        float: none;
        text-align: center;
    }
    #top-right-navigation .menu li {
        display: inline-block;
        float: none;
    }
}


@media (max-width: 480px) {

    .ak-search .search-form .search-field{
        width: 80%;
    }

    .ak-search .search-form .search-submit{
        width: 20%;
    }

}
